div#main-container div {
    float: left;
    width: 500px;
}

.world-map {
    position:absolute;
}

ul.connected-cards {
    position:absolute;
    z-index:100;
    width: 1355px;
    left: 0;
}

ul.up-cards {
    top: 0;
}

ul.down-cards {
    bottom: 0;
}

.connected-cards li {
    display: inline-block;
    padding: 5px;
}

a {
    padding: 5px;
}

.connected-cards img {
    border-style:dashed;
    border-width:2px;
}

img.sureInHands {
    border-color: red;
}

img.cardsInDeck {
    border-style:none;
}