/*
    Workaround for bootstrap and maps.
    http://stackoverflow.com/questions/9141249/twitter-bootstrap-css-affecting-google-maps/9600412#9600412
    */
#container img {
    max-width: none;
}

#container label {
    width: auto;
    display: inline;
}
/*
    End of Workaround for bootstrap and maps.
    */

div#main-container div {
    float: left;
    width: 420px;
}

div#main-container ul {
    list-style-type: none;
}

    div#main-container ul li {
        margin: 4px 0 4px -25px;
    }

        div#main-container ul li span {
            vertical-align: middle;
        }

.world-map {
    position: absolute;
}

ul.connected-cards {
    position: absolute;
    z-index: 100;
    left: 0;
    background-color: powderblue;
    border-style: inset;
    border-color: blue;
    border-radius: 10px;
    margin: 22px;
    padding: 0 20px;
    opacity: 0.9;
}

ul.down-cards {
    top: 470px;
}

.connected-cards li {
    padding: 5px;
}

a {
    padding: 5px;
}

h2.sureInHands {
    box-shadow: 0 0 0 3px #ff0000;
    box-shadow: 0 0 0 3px rgba(255,0,0,0.5);
}

h2.willComeSoon {
    box-shadow: 0 0 0 3px #0000ff;
    box-shadow: 0 0 0 3px rgba(0,0,255,0.5);
}

h2.card-image-replacement {
    width: 80px;
    height: 112px;
    background-image: url(/images/cards_80px.PNG);
    margin: -10px 0;
}

    h2.card-image-replacement span {
        display: none;
    }

.my-hidden {
    display: none;
}

.author:before {
    content: "Author: ";
}

.email:before {
    content: "Email: ";
}
