/*
    Workaround for bootstrap and maps.
    http://stackoverflow.com/questions/9141249/twitter-bootstrap-css-affecting-google-maps/9600412#9600412
    */
#container img { 
  max-width: none;
}

#container label { 
  width: auto; display:inline; 
} 
/*
    End of Workaround for bootstrap and maps.
    */

div#main-container div
{
    float: left;
    width: 500px;
}

.world-map
{
    position: absolute;
}

ul.connected-cards
{
    position: absolute;
    z-index: 100;
    width: 1315px;
    left: 0;
    background-color: powderblue;
    border-style: inset;
    border-color: blue;
    border-radius: 10px;
    margin: 22px;
    padding: 0 20px;
}

ul.down-cards
{
    top: 470px;
}

.connected-cards li
{
    display: inline-block;
    padding: 5px;
}

a
{
    padding: 5px;
}

.connected-cards h2
{
    border-style: dashed;
    border-width: 2px;
}

h2.sureInHands
{
    border-color: red;
}

h2.cardsInDeck
{
    border-style: none;
}

h2.card-image-replacement
{
    width: 80px;
    height: 112px;
    background-image: url(/images/cards_80px.PNG);
    margin: -10px 0;
}

    h2.card-image-replacement span
    {
        display: none;
    }