div#main-container div {
    float: left;
    width: 500px;
}

.connected-cards {
    height: 220px;
}

.connected-cards li {
    display: inline-block;
    padding: 10px;
}

a {
    float: right;
}